<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neue Anforderung</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<main class="page">
    <section class="titlebar">
        <div class="titlebar__inner">Neue Anforderung anlegen</div>
    </section>

    <section class="content-single">
        <form class="form" th:action="@{/requirements/new}" th:object="${requirement}" method="post">
            <div class="form__row">
                <label>Titel</label>
                <input type="text" th:field="*{title}"/>
                <span class="form__error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Titel-Fehler</span>
            </div>
            <div class="form__row">
                <label>Beschreibung</label>
                <textarea th:field="*{description}"></textarea>
            </div>
            <div class="form__actions">
                <button class="btn btn--yellow btn--inline" type="submit">Speichern</button>
                <a class="link" th:href="@{/requirements}">Zurück zur Übersicht</a>
            </div>
        </form>
    </section>
</main>
</body>
</html>
